<ion-tabs>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-list>
        <ion-item lines="none">
          <ion-select interface="action-sheet" slot="start" placeholder="Lang" value="PT">
            <ion-select-option value="eng">ENG</ion-select-option>
            <ion-select-option value="pt">PT</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-title mode="ios" style="text-align: center">
        Ricardo Rodrigues
      </ion-title>
      <ion-toggle color="dark" [enableOnOffLabels]="true" (ionChange)="toggleTheme($event)" [(ngModel)]="darkMode" slot="end"></ion-toggle>
    </ion-toolbar>
  </ion-header>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="sparkles-outline"></ion-icon>
      <ion-label>Skills</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Contacto</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

