<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large" mode="ios" style="text-align: center">{{ 'skills' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" mode="ios" style="text-align: center">
  <p>{{ 'skillstext' | translate }}</p>
<div class="modals">
  <ion-button expand="block" (click)="setOpenIdiomas(true)">{{ 'l' | translate }}</ion-button>
  <ion-modal [isOpen]="isModalIdiomasOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ 'l' | translate }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpenIdiomas(false)">{{ 'close' | translate }}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" mode="ios">
        <ion-card-content mode="ios">
          <ion-list>
            <ion-item>
              <ion-label>{{ 'l1' | translate }}</ion-label>
              <ion-card-subtitle>{{ 'll1' | translate }}</ion-card-subtitle>
            </ion-item>
            <ion-item lines="none">
              <ion-label>{{ 'l2' | translate }}</ion-label>
              <ion-card-subtitle>{{ 'll2' | translate }}</ion-card-subtitle>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-content>
    </ng-template>
  </ion-modal>

  <p></p>

  <ion-button expand="block" (click)="setOpenSoftware(true)">{{ 's' | translate }}</ion-button>
  <ion-modal [isOpen]="isModalSoftwareOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ 's' | translate }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpenSoftware(false)">{{ 'close' | translate }}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" mode="ios">
        <ion-card-content mode="ios">
          <ion-list>
            <ion-item>
              <ion-label>{{ 's1' | translate }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>{{ 's2' | translate }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>{{ 's3' | translate }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>{{ 's4' | translate }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>{{ 's5' | translate }}</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label>{{ 's6' | translate }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-content>
    </ng-template>
  </ion-modal>

  <p></p>

  <ion-button expand="block" (click)="setOpenLingProg(true)">{{ 'lp' | translate }}</ion-button>
  <ion-modal [isOpen]="isModalLingProgOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ 'lp' | translate }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpenLingProg(false)">{{ 'close' | translate }}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" mode="ios">
        <ion-card-content mode="ios">
          <ion-list>
            <ion-item>
              <ion-label>{{ 'lp1' | translate }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>{{ 'lp2' | translate }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>{{ 'lp3' | translate }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>{{ 'lp4' | translate }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>{{ 'lp5' | translate }}</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label>{{ 'lp6' | translate }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-content>
    </ng-template>
  </ion-modal>

  <p></p>

  <ion-button expand="block" (click)="setOpenEducation(true)">{{ 'e' | translate }}</ion-button>
  <ion-modal [isOpen]="isModalEducationOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ 'e' | translate }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpenEducation(false)">{{ 'close' | translate }}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" mode="ios">
        <ion-card-content mode="ios">
          <ion-list>
            <ion-item>
              <ion-label>{{ 'e1' | translate }}</ion-label>
              <ion-card-subtitle>{{ 'e1a' | translate }}</ion-card-subtitle>
            </ion-item>
            <ion-item>
              <ion-label>{{ 'e2' | translate }}</ion-label>
              <ion-card-subtitle>{{ 'e2a' | translate }}</ion-card-subtitle>
            </ion-item>
            <ion-item lines="none">
              <ion-label>{{ 'e3' | translate }}</ion-label>
              <ion-card-subtitle>{{ 'e3a' | translate }}</ion-card-subtitle>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-content>
    </ng-template>
  </ion-modal>

  <p></p>

  <ion-button expand="block" (click)="setOpenProject(true)">{{ 'p' | translate }}</ion-button>
  <ion-modal [isOpen]="isModalProjectOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ 'p' | translate }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpenProject(false)">{{ 'close' | translate }}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" mode="ios">
        <ion-card-content mode="ios">
          <ion-list>
            <ion-item>
              <ion-label>{{ 'p1' | translate }}</ion-label>
              <ion-card-subtitle>{{ 'p1a' | translate }}</ion-card-subtitle>
            </ion-item>
            <ion-item>
              <ion-label>{{ 'p2' | translate }}</ion-label>
              <ion-card-subtitle>{{ 'p2a' | translate }}</ion-card-subtitle>
            </ion-item>
            <ion-item>
              <ion-label>{{ 'p3' | translate }}</ion-label>
              <ion-card-subtitle>{{ 'p3a' | translate }}</ion-card-subtitle>
            </ion-item>
            <ion-item>
              <ion-label>{{ 'p4' | translate }}</ion-label>
              <ion-card-subtitle>{{ 'p4a' | translate }}</ion-card-subtitle>
            </ion-item>
            <ion-item>
              <ion-label>{{ 'p5' | translate }}</ion-label>
              <ion-card-subtitle>{{ 'p5a' | translate }}</ion-card-subtitle>
            </ion-item>
            <ion-item>
              <ion-label>{{ 'p6' | translate }}</ion-label>
              <ion-card-subtitle>{{ 'p6a' | translate }}</ion-card-subtitle>
            </ion-item>
            <ion-item>
              <ion-label>{{ 'p7' | translate }}</ion-label>
              <ion-card-subtitle>{{ 'p7a' | translate }}</ion-card-subtitle>
            </ion-item>
            <ion-item lines="none">
              <ion-label>{{ 'p8' | translate }}</ion-label>
              <ion-card-subtitle>{{ 'p8a' | translate }}</ion-card-subtitle>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-content>
    </ng-template>
  </ion-modal>
</div>
</ion-content>