<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large" mode="ios" style="text-align: center">Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" mode="ios" style="text-align: center">
  <ion-label>Pode me contactar pelo formulário!</ion-label>
  <form>
    <ion-item>
      <ion-label color="medium">Nome</ion-label>
      <ion-input type="text"  name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="medium">Mensagem</ion-label>
      <ion-textarea  name="description"></ion-textarea>
    </ion-item>
    <ion-button type="submit" block (click)="presentAlert()">
      Enviar 
      <ion-icon name="send-sharp" slot="end"></ion-icon>
    </ion-button>
  </form>
  <ion-card mode="ios" style="text-align: center">
    <ion-card-content>
      <ion-text>
        <h1>Telemóvel</h1>
        <h2>969696969</h2>
        <h1>E-mail</h1>
        <h2>ricardo.r@ipvc.pt</h2>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>